@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <header class="mat-toolbar">
            Ski Resort Manager
        </header>
        <NavMenu />
    </div>
    <div class="body">
        <MainToolbar />
        @Body
    </div>
    <SfSpinner Visible="true" CssClass="e-spin-overlay" />
</div>