@page "/installation/ski-lift/new"

<ActionToolbar>
    <Title>
        New ski lift
    </Title>
    <Actions>
        <SfButton CssClass="e-flat">Cancel</SfButton>
        <SfButton CssClass="e-primary" type="submit" form="@FormId">Add new ski lift</SfButton>
    </Actions>
</ActionToolbar>

<div class="page-container">
    <NewSkiLiftForm FormId="@FormId" />
</div>