@page "/installation/ski-lift"

<ActionToolbar>
    <Title>
        Ski lifts
    </Title>
    <Actions>
        <NavLink href="installation/ski-lift/new">
            <SfButton CssClass="e-primary">New ski lift</SfButton>
        </NavLink>
    </Actions>
</ActionToolbar>